body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    background-color: #2d2d2d;
    color: white;
}

#root {
    position: relative;
    z-index: 1;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
}

.pointer {
    cursor: pointer;
}
