/*!
 * Copyright (c) 2020 - Nathan P. Bombana
 *
 * This file is part of Wheres My Duo.
 *
 * Wheres My Duo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wheres My Duo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Wheres My Duo.  If not, see <https://www.gnu.org/licenses/>.
 */

.AdminDashboard {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > header {
    flex-shrink: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.12);

    & > * {
      border-radius: 0;
      border: none;
    }
  }

  & > div {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
  }

  & > div > aside {
    width: 128px;
    max-width: 70vw;
    flex-grow: 1;
    flex-shrink: 0;

    border-right: solid 1px grey;

    & > * {
      border-radius: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  & > div > main {
    flex-grow: 100;
    height: 100%;
    padding: 1em;
  }
}
