/*!
 * Copyright (c) 2020 - Nathan P. Bombana
 *
 * This file is part of Wheres My Duo.
 *
 * Wheres My Duo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wheres My Duo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Wheres My Duo.  If not, see <https://www.gnu.org/licenses/>.
 */

.ProfilePic {
  border-radius: 8px;
  width: 256px;
  height: auto;
  max-width: 256px;
  flex-grow: 1;
  flex-shrink: 0;

  display: block;
  margin: 0 auto 0 auto;
}

.UserName {
  display: block;
  margin: 0 auto 0 auto;
  width: 256px;

  background-color: #181818;
  text-align: center;
  font-size: 2rem;

  transform: translateY(-3rem);
}

.ProfileHalfScreenCard {
  width: 100%;
  padding-top: 1em;

  @media (min-width: 769px) {
    width: 400px;
    background-color: black;
    border-right: solid 4px #440473;
  }
}
